*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: antiquewhite;
}

main{
    padding-top: 1rem;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    color: white;
    padding: 1rem;
    
}

.nav-menu{
    display: flex;
    gap: 1rem;
    align-items: center;
}

button{
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

button:hover{
    scale: 105% !important;
    transition: all;
}

.btn-primary{
    background-color: rgb(0, 60, 189);
    color: white;
}

.btn-primary:hover{
    background-color: rgb(1, 32, 99);
    color: white;
}

.btn-success{
    background-color: rgb(2, 71, 2);
    color: white;
}

.btn-success:hover{
    background-color: rgb(0, 41, 0);
    color: white;
}

.btn-alert{
    background-color: rgb(187, 112, 0);
    color: white;
}

.btn-alert:hover{
    background-color: rgb(146, 78, 0);
    color: white;
}

.btn-danger{
    background-color: rgb(153, 0, 0);
    color: white;
}

.btn-danger:hover{
    background-color: rgb(99, 8, 8);
    color: white;
}

select{
    border: none;
    background: rgb(219, 219, 219);
    border-radius: 0.2rem;
    padding: 0.2rem ;
    min-width: 10%;
    width: 100%;
}

.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 0 5rem;
}

.card{
    padding: 1rem;
    background: white;
    border-radius: 0.2rem;
    display: grid;
    row-gap: 0.5rem;
}

.card:hover{
    scale: 102%;
    transition: all;
}

.form-container{
    background: white;
    box-shadow: inset;
    max-width: 80dvw;
    min-width: 30dvw;
    padding: 2rem;
    border-radius: 0.5rem;
}

form{
    display: grid;
    row-gap: 1rem;
    padding: 2rem;
}

input{
    width: 100%;
    padding: 0.2rem 0;
}

textarea{
    width: 100%;
}

.dark{
    background: #000;
    color: white;
}

.white{
    background: white;
}

.line-through{
    text-decoration: line-through;
}